// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand_image {
  // background-image: image-url("superN.png");
  width: 400px;
  length: 400px;
  background-color: red;
}
